*.iml
.gradle
/local.properties
/TasteBudnew/.idea/caches
/TasteBudnew/.idea/libraries
/TasteBudnew/.idea/modules.xml
/TasteBudnew/.idea/workspace.xml
/TasteBudnew/.idea/navEditor.xml
/TasteBudnew/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
